* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
.sec-register {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}
.nav-bar {
  background-color: #333;
  width: 100%;
  /* height: 10%; */
  padding: 1.2%;
  text-align: center;
}
.nav-head {
  color: #fff;
}
.con {
  /* visibility: hidden; */
  /* background-color: #fee; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  padding: 4.3%;
}
.admin,
.teacher,
.student {
  background-color: #999;
  padding: 6%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  border-radius: 4%;

  text-align: center;
  justify-content: center;
}
.head {
  width: 90%;
  height: 50px;
  font-weight: 900;
  font-size: 30px;
}
.img {
  opacity: 0.6;
}
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  display: block;
  background-color: #111;
  color: #fff;
  font-weight: 900;
  width: 150px;
  /* height: 50px; */
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;

  transition: all;
}

.btn:hover,
.btn:active {
  background-color: #fafafa;
  color: #111;
  transform: translateY(-2px);
}
.sec-form {
  visibility: hidden;
  position: absolute;
  top: 100px;
  width: 100%;
  height: 70%;
}

form {
  width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: #fafafa;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.sub-btn,
.sub-btn:link,
.sub-btn:active {
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  transition: transform all 2s;
  border-radius: 4px;
}
.sub-btn:hover,
.sub-btn:visited {
  background-color: #ababab;
  color: #000;
  transform: translateY(-2px);
  border-radius: 4px;
}
